@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

body {
    padding: 1%;
    background-color: rgb(19, 19, 19);
}

* {
    font-family: 'Signika', sans-serif;
    font-size: 20px;
    color: aliceblue;
}

h1 {
    font-size: 25px;
}

input {
    background-color: rgb(25, 25, 25);
}

select {
    background-color: rgb(25, 25, 25);
}

button {
    background-color: rgb(25, 25, 25);
    height: 35px;
}